.vertical{
    width: 75%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: rgb(185, 230, 246) 0px 7px 10px 0px;
    margin: auto;
}
.vertical-cart-first {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.vertical-cart-first-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.vertical-cart-second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-cart-second-first{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.vertical-cart-second-first-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    border: 1px solid black;
}
.vertical-cart-second-first-div h5{
    margin:0;
    padding: 0;
}
.vertical-cart-second-first-div p{
    margin:0;
    padding: 0;
    font-size: 12px;
    font-weight: 200;
}
.sql {
    border: 0.8px solid blue;
}
.xss {
    border: 0.8px solid yellow;
}
